.containerDiv {
  background-color: black;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20px;
  border-radius: 20px;
  border: 1px solid #ffffff;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2%;
  /* A percentage gap */
  width: 100%;
  /* Full width of the parent container */
  max-width: 410px;
  /* Optional: Maintain a maximum width */
  margin: auto;
  margin-top: 2%;
  /* Percentage-based margin for responsiveness */
  margin-bottom: 3%;
  /* Percentage-based margin for responsiveness */
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4e4e4e;
  border: 1px solid #ffffff;
  height: 18vw; /* A responsive height based on viewport width */
  max-height: 72px; /* Optional: Maintain a maximum height */
  border-radius: 3px;
}

button {
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 3px
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}


.grid-item:hover {
  background-color: #363636;
  cursor: pointer;
}

body {
  background-color: black;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes shake {
  0% { transform: translate(0, 0); }
  10% { transform: translate(-5px, -5px); }
  20% { transform: translate(5px, 5px); }
  30% { transform: translate(-5px, 5px); }
  40% { transform: translate(5px, -5px); }
  50% { transform: translate(-5px, -5px); }
  60% { transform: translate(5px, 5px); }
  70% { transform: translate(-5px, 5px); }
  80% { transform: translate(5px, -5px); }
  90% { transform: translate(-5px, -5px); }
  100% { transform: translate(0, 0); }
}

.rotate-animation {
  animation: rotate 0.5s linear;
}

.shake-animation {
  animation: shake 0.5s linear;
}

@media (max-width: 768px) {
  h1 {
      font-size: 22px;
  }

  h3 {
      font-size: 16px;
  }
}